# ------------------------------------------------------------------------------------------------
# 配置
# ------------------------------------------------------------------------------------------------
# strict-ssl=false
# ------------------------------------------------------------------------------------------------
# 镜像
# ------------------------------------------------------------------------------------------------
# 官方
# registry=https://registry.npmjs.org
# 腾讯云
# registry=https://mirrors.cloud.tencent.com/npm/
# 华为云
# registry=https://mirrors.huaweicloud.com/repository/npm
# 阿里云
# registry=https://registry.npmmirror.com
registry=https://registry.npmmirror.com
