# ========================================================================
# Nuxt
# ========================================================================
NUXT_DEEPSEEK_API_KEY=xxxxxxx
# ========================================================================
# Database
# ========================================================================
POSTGRES_URL=postgresql://root:root@localhost:5432/one
# ========================================================================
# Auth
# ========================================================================
BETTER_AUTH_SECRET=9HP8KELgsDhRY9oxpnqF8ibpkW7MnwUV
# ========================================================================
# SMTP
# ========================================================================
SMTP_HOST=xxx
SMTP_PORT=xxx
SMTP_USER=xxx
SMTP_PASS=xxx
SMTP_FROM=xxx
SMTP_NAME=xxx
# ========================================================================
# AI
# ========================================================================
AI_DEEPSEEK_API_KEY=xxx
NUXT_OPENAI_API_KEY=xxxxxxx
NUXT_ASSISTANT_ID=xxxxxxx
